---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Dashboard">
  <section>
    <h1>Welcome Astronaut 🧑‍🚀</h1><br>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Widgets</h2>
        <p id="current-time" class="size-12"></p>
      </div>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
        <!-- Keypad Widget -->
        <div class="keypad-widget radius-large space-96">
          <a href="/keypad/" class="keypad-link">
            <img src="/ios-keypad-5.png" alt="Keypad" class="keypad-image"/>
            <span class="keypad-title">Keypad</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<script>
  const date = new Date()
  document.querySelector('#current-time').innerHTML = `<em>${date.toDateString()}</em>`
</script>

<style>
  .keypad-widget {
    border: 4px solid grey;
    text-align: center;
    padding: 40px;
  }

  .keypad-link {
    display: block;
    text-decoration: none;
    color: white; /* Set the text color to white */
    font-size: 80px; /* Set the font size to make it bigger */
  }

  .keypad-image {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .keypad-title {
    display: block;
    margin-top: 10px;
    font-size: 44px;
  }
</style>
